@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blanco: #ffffff;
  --negro: #000000;
  --primario: rgb(206, 150, 47);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}